<!doctype html>
<html><head>
<link rel="stylesheet" href="file://<%== Inf7::Conf.doc %>/style.css">
<script src="chapter.js"></script>
<title><%= ext.name %></title></head>
<body class="inform7-source">
<%== Inf7::Template[:index_truncated].render %>
<table class="source-table"><tbody>
<% if ext.documentation %><tr><td></td><td class="line"><a href="javascript:copyCode(`<%= "Include #{ext.name}." %>`)"><img border="0" src="<%= File.join(Inf7::Conf.doc, 'doc_images/paste.png') %>" alt="Copy Include <%= ext.name %> to clipboard"></a> Include <%= ext.name %>.</td></tr>
<%== Inf7::Template[:source_code_generic].render(lines: ext.documentation, line_nos: false, example_pasties: ext.example_pasties, name: ext.name) %><tr></tr><tr><td></td><td class="line">&nbsp;</td></tr><% end -%>
<%== Inf7::Template[:source_code_generic].render(lines: ext.code, line_nos: true) %>
</tbody>
</table>
</body></html>
