<div class="index-navbar">
<a id="project_index" href="file://<%== index_root %>/Index/Welcome.html<% if query_arg %>?<%== query_arg %><% end %>"> Project Index</a>
<a id="source" href="file://<%== index_root %>/story.html<% if query_arg %>?<%== query_arg %><% end %>"> Source</a>
<a id="problems" href="file://<%== build %>/problems.html<% if query_arg %>?<%== query_arg %><% end %>"> Problems</a>
<a id="debug_log" href="file://<%== build %>/debug_log.html<% if query_arg %>?<%== query_arg %><% end %>"> Debug Log</a>
<a id="extensions" href="file://<%== index_root %>/doc/Extensions.html<% if query_arg %>?<%== query_arg %><% end %>"> Extensions</a>
<a id="docs" href="file://<%== Inf7::Conf.doc %>/index.html<% if query_arg %>?<%== query_arg %><% end %>"> Docs</a>
<a id="general_index" href="file://<%== Inf7::Conf.doc %>/index.html#general-index<% if query_arg %>?<%== query_arg %><% end %>"> General Index</a>
</div>
