<div class="index-navbar" style="font-family: sans-serif; font-weight: bold; font-size: 1.33rem;">
<a style="padding-right: .75rem;" href="file://<%== index_root %>/Index/Welcome.html">Project Index</a>
<a style="padding-right: .75rem;" href="file://<%== index_root %>/story.html">Source</a>
<a style="padding-right: .75rem;" href="file://<%== build %>/problems.html">Problems</a>
<a style="padding-right: .75rem;" href="file://<%== index_root %>/doc/Extensions.html">Extensions</a>
<a style="padding-right: .75rem;" href="file://<%== Inf7::Conf.doc %>/index.html">Docs</a>
<a class="navbar-link" href="file://<%== Inf7::Conf.doc %>/index.html#general-index">General Index</a>
</div>
