<!doctype html>
<html><head>
<link rel="stylesheet" href="file://<%== Inf7::Conf.doc %>/style.css">
<script><%== Inf7::Template[:onejs].render %></script>
<title><%= name ? name : "#{ext_name} by #{author}" %></title></head>
<body class="inform7-source">
<%== Inf7::Template[:index_navbar].render(index_root: index_root, build: build) %>
<table class="source-table"><tbody>
<%== Inf7::Template[:source_code_generic].render(lines: code, line_nos: line_nos) %>
</tbody>
</table>
</body></html>
