<% in_table = false -%>
<% lines.each.with_index(1) do |line, j| %>
  <% line = line.rstrip %>
  <% if !line_nos and line.match(/\A\s*\*:/) %>
    <% example = CGI.escapeHTML(example_pasties.shift.map {|l| l.sub(/\A\t?/,'')}.join('\n').lstrip) %>
    <% line.sub!(/\*:\s*/, %Q{#{$1}<a href="javascript:copyCode(`#{example}`)"><img border="0" src="#{File.join(Inf7::Conf.doc, 'doc_images/paste.png')}"></a> }) %>
  <% end %>
  <% if line.match(/\A(\s*)(<[^>]+>)?(\s+)(\S.*)\Z/) %>
    <% leading_whitespace, initial_tag, initial_whitespace, rest = $1, $2, $3, $4 %>
    <% initial_whitespace = initial_whitespace + (leading_whitespace || "") %>
    <% initial_whitespace.gsub!(/\t/, '   ') %>
    <% initial_whitespace = ' ' + '&ensp;' * (initial_whitespace.length - 1) %>
    <% line = (initial_tag || "") + initial_whitespace + rest %>
  <% end %>
  <% line = line.gsub(/\t+/,"\t") %>
  <% if in_table -%>
    <% if !line.match(/\A(\s|&ensp)*\Z/) and !line.match(/with\s+(?:\d+\s+)?blank\s+row/) -%>
      <span class="tr"><span class="th<% if line_nos %> line_no" id="line<%= j %><% end %>"></span><span class="td line"><%== line.sub(/\A(\s|&ensp;)*/,'').gsub(/\t/, %Q{</span><span class="td">}) %></span></span>
    <% else -%>
      <% in_table = false -%>
      </div></div><div class="pseudo"><span class="tr"><span class="th<% if line_nos %> line_no" id="line<%= j %><% end %>"></span><span class="td line"><%== line.empty? ? '&ensp;' : line %></span></span>
    <% end -%>
  <% else -%>
    <% if line.match(/\A(?:<[^>]+>)?(\s|&ensp;)*Table\s+(?:of|\d+(?:\.\d+)?)\b/) %>
      <% in_table = true -%>
      <span class="tr tablehead"><span class="th<% if line_nos %> line_no" id="line<%= j %><% end %>"></span><span class="td line"><%== line.sub(/\A(\s|&ensp;)*/,'') %></span></span></div><div class="pseudo tabletable">
    <% else -%>
      <span class="tr"><span class="th<% if line_nos %> line_no" id="line<%= j %><% end %>"></span><span class="td line"><%== line.empty? ? '&ensp;' : line %></span></span>
    <% end -%>
  <% end -%>
<% end -%>
