<table class="source-table"><tbody>
<% if documentation %><tr><td></td><td><a href="javascript:copyCode(`<%= "Include #{name}." %>`)"><img border="0" src="<%= File.join(Inf7::Conf.doc, 'doc_images/paste.png') %>" alt="Copy Include <%= name %> to clipboard"></a> Include <%= name %>.</td></tr>
<%== Inf7::Template[:source_code_generic].render(lines: documentation, line_nos: false, example_pasties: example_pasties, name: name) %><tr><td>&nbsp;</td></tr><tr><td>&nbsp;</td></tr><% end -%>
<%== Inf7::Template[:source_code_generic].render(lines: code, line_nos: true) %>
</tbody>
</table>

